<%-include('header')-%>


  <div class="top-navbar">
    <div class="logo"><a style="color: rgb(73, 202, 211);">CartLog'er</a></div>
    <div class="right-nav">
      <a style="color:white;">Home</a>
      <a style="color:white;">about</a>
      <a style="color:white;">contact</a>
      <a class="logouter" style="text-decoration: none;" onclick="remover('logout')" href='/route/logout'>Logout</a>

    </div>
  </div>


<div class="text-center center-div" id="login" >
  <div class="container w-75 py-5">
    <h3 style="color: white;">Welcome to <a style="text-decoration: none;color:rgb(73, 202, 211);font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CartLoger</a></h3>
    <h5 style="color: white;"><%=locals.user?user:"Ditto"%></h5>
  </div>
</div>

<div class="main-dash-container">
  <div class="main-dash-heading top-div mt-3"><h3 style="color: rgb(138, 137, 137);">This is a demo webpage of a huge project!</h3><h3 >Some upcoming products</h3></div>
</div>
<!--Products-->
<div class="products-container">

  <div class="product-outer">
    <div class="image-container">
      <img src="/public/assets/login-cover-pic.jpg">
    </div>
    <div class="details-container">
      <p class="product-name">Laptops</p>
      <p class="product-price">25,000rs - 25,0000rs</p>
      <p class="product-detials">All laptops will be available</p>
      <button class="book-button">Pre-book now!</button>
    </div>
  </div>

  <div class="product-outer">
    <div class="image-container">
      <img src="/public/assets/login-cover-pic.jpg">
    </div>
    <div class="details-container">
      <p class="product-name">Laptops</p>
      <p class="product-price">25,000rs - 25,0000rs</p>
      <p class="product-detials">All laptops will be available</p>
      <button class="book-button">Pre-book now!</button>
    </div>
  </div>

  <div class="product-outer">
    <div class="image-container">
      <img src="/public/assets/login-cover-pic.jpg">
    </div>
    <div class="details-container">
      <p class="product-name">Laptops</p>
      <p class="product-price">25,000rs - 25,0000rs</p>
      <p class="product-detials">All laptops will be available</p>
      <button class="book-button">Pre-book now!</button>
    </div>
  </div>

  <div class="product-outer">
    <div class="image-container">
      <img src="/public/assets/login-cover-pic.jpg">
    </div>
    <div class="details-container">
      <p class="product-name">Laptops</p>
      <p class="product-price">25,000rs - 25,0000rs</p>
      <p class="product-detials">All laptops will be available</p>
      <button class="book-button">Pre-book now!</button>
    </div>
  </div>

  <div class="product-outer">
    <div class="image-container">
      <img src="/public/assets/login-cover-pic.jpg">
    </div>
    <div class="details-container">
      <p class="product-name">Laptops</p>
      <p class="product-price">25,000rs - 25,0000rs</p>
      <p class="product-detials">All laptops will be available</p>
      <button class="book-button">Pre-book now!</button>
    </div>
  </div>

  <div class="product-outer">
    <div class="image-container">
      <img src="/public/assets/login-cover-pic.jpg">
    </div>
    <div class="details-container">
      <p class="product-name">Laptops</p>
      <p class="product-price">25,000rs - 25,0000rs</p>
      <p class="product-detials">All laptops will be available</p>
      <button class="book-button">Pre-book now!</button>
    </div>
  </div>

  <div class="product-outer">
    <div class="image-container">
      <img src="/public/assets/login-cover-pic.jpg">
    </div>
    <div class="details-container">
      <p class="product-name">Laptops</p>
      <p class="product-price">25,000rs - 25,0000rs</p>
      <p class="product-detials">All laptops will be available</p>
      <button class="book-button">Pre-book now!</button>
    </div>
  </div>

  <div class="product-outer">
    <div class="image-container">
      <img src="/public/assets/login-cover-pic.jpg">
    </div>
    <div class="details-container">
      <p class="product-name">Laptops</p>
      <p class="product-price">25,000rs - 25,0000rs</p>
      <p class="product-detials">All laptops will be available</p>
      <button class="book-button">Pre-book now!</button>
    </div>
  </div>

</div>
<%-include('footer')-%>
